[Desktop Entry]
Version=1.0
Name=Sheets
Comment=Sheets (Ice SSB)
Exec=chrome --app=https://docs.google.com/spreadsheets/u/0/ --class=ICE-SSB-sheets --user-data-dir=/home/darko/.local/share/ice/profiles/sheets
X-ICE-SSB-Profile=sheets
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/darko/.local/share/ice/icons/sheets.adf55cdf4c7f8fb38efbf8df6c2792660fbeff2d05be05f2ec8e9c265a179b51c64b9679d8aee00e09cad19ce419d90a2d999b82cea4200abbe78c73e6bfaacf
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=ICE-SSB-sheets
StartupNotify=true
