[Desktop Entry]
Version=1.0
Name=BECU
Comment=BECU (Ice SSB)
Exec=chrome --app=https://onlinebanking.becu.org/BECUBankingWeb/Login.aspx --class=ICE-SSB-becu --user-data-dir=/Applications/WebApp/BECU.app/Resources/profiles/becu
X-ICE-SSB-Profile=becu
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/Applications/WebApp/BECU.app/Resources/BECU.png
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=ICE-SSB-becu
StartupNotify=true
