[Desktop Entry]
Name=CatLock
Comment=Keep Your Cat Off Your Computer!
GenericName=Development Environment
Exec=/usr/local/bin/python3 /usr/local/GNUstep/Local/Applications/DailyBing.app/Resources/catlock.py --pin 420420
Icon=/usr/local/GNUstep/Local/Applications/DailyBing.app/Resources/catlock.png
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Development;Documentation;
MimeType=text/plain;