[Desktop Entry]
Name=Code
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/usr/local/bin/code-oss --password-store="gnome" --unity-launch %F
Icon=com.visualstudio.code
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-oss-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/usr/local/bin/code-oss --password-store="gnome" --new-window %F
Icon=com.visualstudio.code
