[Desktop Entry]
Version=1.0
Name=Maps
Comment=Maps (Ice SSB)
Exec=chrome --app=https://www.google.com/maps/@47.8858709,-122.2008558,14z --class=ICE-SSB-maps
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/Applications/WebApps/Maps.app/Resources/Maps.png
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=ICE-SSB-maps
StartupNotify=true
