[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=launch Filer /Applications/Preferences
Name=Preferences
Icon=preferences-desktop