[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=launch Filer /usr/home/darko/.local/share/Trash/files
Name=Trash
Icon=user-trash